/* general styles */
:root {
    font-family: Arial, Helvetica, sans-serif;
    --main-color: rgb(64, 64, 64);
    --main-color-secondary: rgb(133, 133, 133);
    --font-color: rgb(234, 234, 234);
    --font-color-secondary: white;
    --btn-color: rgb(38, 97, 206);
    --btn-font-color: white;
    --btn-hover-color: rgb(62, 123, 255);
    --aside-hover-bg-color: rgb(115, 115, 115);

    --bg-color: rgb(27, 28, 29);
}

body {
    background-color: var(--bg-color);
}

.wrapper {
    --sidebar-width: max(15vw, 180px);
    --sidebar-btn-width: 30px;
    display:grid;
    grid-template-columns: 
        var(--sidebar-btn-width) 
        var(--sidebar-width) 
        var(--sidebar-btn-width) 
        2fr;
    grid-template-rows: 60px 1fr;
    min-height: 100vh;
}

header {
    grid-row: 1/2;
    grid-column: 4/5;
    color: var(--font-color);
}

aside {
    color: var(--font-color);
    position: fixed;
    width: calc(var(--sidebar-width) + var(--sidebar-btn-width));
}

.aside-btn {
    grid-column: 3/4;
    grid-row: 1/3;
}

main {
    grid-column: 4/5;
    grid-row: 2/3;
    color: var(--font-color);
}

.wrapper:has(aside.hide) header,
.wrapper:has(aside.hide) main {
    grid-column: 2/5
}

.wrapper:has(aside.hide) .aside-btn {
    grid-column: 1/2;
}

aside button {
    background-color: transparent;
    border: none;
}

aside button svg {
    --size: 24px;
    height: var(--size);
    width: var(--size);
    fill: var(--font-color);
}

input, select {
    max-width: 500px;
    min-height: 2rem
}

button {
    background-color: var(--btn-color);
    color: var(--btn-font-color);
    border: none;
    border-radius: 4px;
    padding: 2px 12px;
}
button:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color);
}






/* custom styles */
header {
    display: flex;
    align-items: center;
    gap:24px;
    background-color: var(--main-color);
    padding-inline: 20px;
}

aside {
    background-color: var(--main-color);
    min-height: 100%;
    color: var(--font-color);
}

aside.hide {
    display:none;
}

.aside-btn {
    position: fixed;
    width: var(--sidebar-btn-width);
    left: calc(var(--sidebar-btn-width) + var(--sidebar-width));
    height: 100%;
}

.wrapper:has(aside.hide) .aside-btn {
    left: 0px;
}

.aside-btn > button {
    background-color: var(--aside-hover-bg-color);
    height: 100%;
    width: 100%;
    border-radius: 0;
}

.aside-btn > button:hover {
    background-color: var(--main-color-secondary) !important;
}

.aside-btn > button svg {
    --size: 16px;
    position: fixed;
    left: calc((var(--sidebar-btn-width)*2) + var(--sidebar-width) - 22px);
    top:45vh;
}

.wrapper:has(aside.hide) .aside-btn > button svg {
    left: calc(var(--sidebar-btn-width) - var(--size) - 16px);
    transform: rotateY(180deg);
}

.aside-btn > button:hover {
    background-color: var(--aside-hover-bg-color);
    cursor: pointer;
}

aside > div {
    padding-block: 12px;
}
aside h2 {
    text-align: center;
    margin-bottom: 24px;
}
aside ul,
aside li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.2rem;
}

aside a {
    text-decoration: none;
    color: var(--font-color);
}

aside li {
    padding: 8px 16px;
}

aside li:hover {
    background-color: var(--aside-hover-bg-color);
}

main {
    padding: 16px;
}

main > form,
main table {
    --header-space: 24px;
    margin-top: var(--header-space);
    background-color: var(--main-color);
}

main > div {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    padding-block: 8px;
}

main table {
    --table-border-color: var(--main-color-secondary);
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 12px;
}

th {
    background-color: rgb(110, 110, 110);
    color: var(--font-color-secondary);
    padding: 16px 12px;
    font-size: 1.2rem;
}

tr:nth-child(odd) {
    background-color: rgb(46, 46, 46);
}

.id, .quantity {
    text-align: right;
}
 
tr a button,
tr td > form > button {
    width: fit-content;
    font-size: 0.9rem;
}

.id,
.quantity,
td:has(form > button),
td:has(a button) {
   white-space: nowrap;
   width: 1px;
}

th:last-child {
    max-width: calc((64px + 24px) * 2);
    max-width: 128px;
}

tr td > form > button {
    background-color: rgb(104, 70, 70);
}

tr td > form > button:hover {
    background-color: rgb(161, 43, 43);
}

.category div {
    display:flex;
    gap: 2px;
    flex-wrap: wrap;
    border-collapse: collapse;
}

.category div > div {
    padding: 2px 8px;
    font-size: 0.8rem;
    border-radius: 4px;
    background-color: rgb(101, 101, 101);
    color: rgb(204, 204, 204);
    letter-spacing: -1%;
}

th:last-child {
    max-width: 180px;
}

main > form {
    --gap: 12px;
    width: fit-content;
    max-width: 500px;
    padding: 16px;
    border-radius: 4px;
    margin: auto;
    margin-top: var(--header-space);
}

form div:has(select),
form div:has(input) {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form div > div > div:has(.checkbox-wrapper) {
    gap: 4px;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.error-msg {
    color: rgb(230, 102, 102);
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
    width: fit-content;
}

main > form > div {
    display: flex;
    flex-direction: column;
    gap:var(--gap);
}

main > form > button {
    margin-top: var(--gap);
}

dialog {
    border: none;
    border-radius: 4px;
    padding: 20px;
    background-color: var(--main-color);
    color: var(--font-color);
}

dialog::backdrop {
    /* todo replace with main color */
    background-color: #00000070;
}

dialog > div:has(button) {
    display: flex;
    margin-top: 12px;
    gap: 8px;
    justify-content: right;
}

dialog button {
    min-width: 80px;
}

dialog span {
    font-weight: 600;
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 2px;
    margin-inline: 2px;
    border-radius: 2px;
}

.cancel-dialog-btn {
    background-color: rgb(101, 101, 101);
    color:var(--font-color);
}

.cancel-dialog-btn:hover {
    background-color: rgb(206, 206, 206);
    color:black;
}



@media screen and (max-width: 620px) {
    main > table {
        display: flex;
        flex-wrap: wrap;
        background-color: transparent;
    }

    thead {
        display: none;
    }

    tbody {
        display: grid;
        width: 100%;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
        gap: 20px;
    }
    tbody tr {
        display: block;
        position: relative;
        background-color: var(--main-color) !important;
        height: fit-content;
        border-radius: 4px;
    }

    td {
        display:block;
    }
    
    td:nth-last-child(1),
    td:nth-last-child(2) {
        display: inline-block;
    }

    td:nth-last-child(2) {
        margin-right: 44px;
        
    }

    .id ::before {
        font-weight: 600;
        content: "ID: ";
    }

    .name ::before {
        font-weight: 600;
        content: "Name: ";
    }

    .description ::before {
        font-weight: 600;
        content: "Description: ";
    }

    .quantity ::before {
        font-weight: 600;
        content: "Quantity: ";
    }
    
    .item ::before {
        font-weight: 600;
        content: "Item: ";
    }

    .owner ::before {
        font-weight: 600;
        content: "Owner: ";
    }

    .category:not(:has(div > div)) {
        display: none;
    }
}